---

import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={description} />

  <link rel="icon" type="image/png" href="/IFW.png" />

  <title>{title}</title>

  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={Astro.url.href} />
  <meta property="og:site_name" content="Ingenieria Facil Web" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
</head>

<body>
  <Header />
  <slot />
  <Footer />
</body>
</html>